.contentBox_component{
    width: 94%;
    height: 90vh;
}
/* ////////////// FILTERS BUTTONS COMPONENT ////////////////// */
.filterButtons_component{
    height: 10%;

    & > button{
        background-color: rgb(43, 42, 42);
        color: white;
        border: none;
        padding: 0.7rem;
        border-radius: 0.5rem;
        font-size: 1vw;
        font-weight: 500;
        margin-right: 0.8rem;

        &:hover{
            cursor: pointer;
        }
    }
}


/* ////////////// VIDEOS BOX COMPONENT ////////////////// */
.videosBox_component{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    padding: 2% 2% 0 0;
}
.videosBox_component::-webkit-scrollbar{
    display: none;
}
.video_container{
    width: 32%;
    height: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;

    & span, & .channel_name{
        color: white;
        font-size: 0.96rem;
        font-weight: 400;
        color: rgb(168, 167, 167);
    }

    &:hover{
        cursor: pointer;
    }
}
.thumbnail_box{
    height: 73%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;

    & > img{
        width: 100%;
    }
}
.video_content_box{
    display: flex;
    width: 100%;
}
.channel_icon{
    width: 15%;

    & > img{
        width: 75%;
        border-radius: 50%;
    }
}
.video_details_box{
    width: 85%;
}
.video_title{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1%;
}
.empty_videoBox_text{
    margin: auto;
    text-align: center;
    color: rgb(136, 133, 133);
    font-size: 4vh;
}

/* ///////////  MEDIA QUERIES //////////// */
@media (max-width: 1024px){
    .contentBox_component{
        height: 93vh;
    }
    .filterButtons_component{
    & > button{
        padding: 10px;
        border-radius: 10px;
        font-size: 1rem;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    }
    .video_container{
        width: 49%;
        height: 30%;
        margin-bottom: 5%;

        & span, & .channel_name{
            font-size: 1.1rem;
        }
    }
    .video_title{
        font-size: 1.2rem;
    }
    .empty_videoBox_text{
        font-size: 1.5rem;
    }
}
@media (max-width: 768px){
    .contentBox_component{
        height: 93vh;
    }
    .filterButtons_component{
    & > button{
        padding: 8px;
        border-radius: 10px;
        font-size: 0.8rem;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    }
    .video_container{
        width: 47%;
        height: 31%;
        margin-bottom: 5%;

        & span, & .channel_name{
            font-size: 1rem;
        }
    }
    .video_title{
        font-size: 1.1rem;
    }
    .empty_videoBox_text{
        font-size: 1.2rem;
    }
}
@media (max-width: 475px){
    .contentBox_component{
        height: 93vh;
    }
    .filterButtons_component{
        & > button{
            padding: 5px;
            border-radius: 5px;
            font-size: 0.4rem;
            font-weight: 500;
            margin-right: 5px;
        }
    }
    .video_container{
        width: 95%;
        height: 45%;
        margin-bottom: 8%;

        & span, & .channel_name{
            font-size: 0.7rem;
        }
    }
    .video_title{
        font-size: 0.9rem;
    }
    .empty_videoBox_text{
        font-size: 1rem;
    }
}
@media (max-width: 1024px) and (max-height: 600px){
    .contentBox_component{
        height: 93vh;
    }
    .filterButtons_component{
        & > button{
            padding: 10px;
            border-radius: 10px;
            font-size: 0.8rem;
            margin-right: 8px;
        }
    }
    .video_title{
        font-size: 0.9rem;
    }
    .video_container{
        width: 32%;
        height: 49%;
        margin-bottom: 4%;

        & span, & .channel_name{
            font-size: 0.9rem;
        }
    }
}
@media (max-height: 450px) and (orientation: landscape){
    .contentBox_component{
        height: 86vh;
    }
    .filterButtons_component{
        & > button{
            padding: 5px;
            border-radius: 5px;
            font-size: 0.5rem;
            margin-right: 5px;
        }
    }
    .video_title{
        font-size: 0.8rem;
    }
    .video_container{
        width: 49%;
        height: 75%;

        & span, & .channel_name{
            font-size: 0.7rem;
        }
    }
}