.videoPlayer_component{
    background-color: black;
}
.videoPlayer_video_box{
    width: 100vw;
    height: 70vh;
    

    & > iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
}
.videoPlayer_details_comments_box{
    width: 65vw;
    padding: 1% 2%; 
}
.videoPlayer_title{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
.videoPlayer_channel_icon_name_like{
    height: 12vh;
    display: flex;
    justify-content: space-between;

    & > div{
        display: flex;
        align-items: center;
    }
}
.videoPlayer_channel{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;

    & > img{
        height: 75%;
        border-radius: 50%;
        margin-right: 15px;
    }

    & > button{
        background-color: rgb(255, 255, 255);
        padding: 10px 15px;
        color: black;
        border: none;
        font-weight: 500;
        font-size: 0.9rem;
        border-radius: 1.4rem;
        margin-left: 15px;

        &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.815);
        }
    }
}
.like_dislike_btns_box{
    height: 60%;
    width: 12vw;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0 5%;
    background-color: rgba(34, 34, 34, 0.726);

    & > div{
        height: 60%;
        padding: 0 10px;
    }

    & > div > img{
        height: 100%;
    }
}
.like_btn_box{
    width: 70%;
    color: white;
    display: flex;
    align-items: center;
    border-right: solid rgba(255, 255, 255, 0.288) 1px;

    & > img{
        margin-right: 15px;
    }
}
.dislike_btn_box{
    width: 30%;
}
.videoPlayer_description{
    color: white;
    background-color: rgb(49, 49, 49);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.95rem;
}


/* ///////////  MEDIA QUERIES //////////// */
@media (max-width: 1024px){
    .videoPlayer_video_box{
        height: 50vh;
    }
    .videoPlayer_details_comments_box{
        width: 100vw;
        padding: 1% 2%; 
    }
    .videoPlayer_title{
        font-size: 2rem;
    }
    .videoPlayer_channel_icon_name_like{
        height: 10vh;
    }
    .videoPlayer_channel{
        font-size: 1.3rem;
        & > img{
            margin-right: 25px;
        }

        & > button{
            padding: 10px 15px;
            font-size: 1rem;
            margin-left: 25px;
        }
    }
    .like_dislike_btns_box{
        display: none;
    }
}
@media (max-width: 768px){
    .videoPlayer_video_box{
        height: 50vh;
    }
    .videoPlayer_details_comments_box{
        width: 100vw;
        padding: 2% 4%; 
    }
    .videoPlayer_title{
        font-size: 1.5rem;
    }
    .videoPlayer_channel_icon_name_like{
        height: 8vh;
    }
    .like_dislike_btns_box{
        display: none;
    }
}
@media (max-width: 475px){
    .videoPlayer_video_box{
        height: 30vh;
    }
    .videoPlayer_details_comments_box{
        width: 100vw;
        padding: 2% 4%; 
    }
    .videoPlayer_title{
        font-size: 1rem;
    }
    .videoPlayer_channel_icon_name_like{
        height: 8vh;
    }
    .videoPlayer_channel{
        font-size: 0.7rem;
        & > img{
            margin-right: 5px;
        }

        & > button{
            padding: 5px 8px;
            font-size: 0.5rem;
            margin-left: 5px;
        }
    }
    .like_dislike_btns_box{
        display: none;
    }
    .videoPlayer_description{
        margin-top: 10px;
        padding: 5px;
        font-size: 0.5rem;
    }
}
@media (max-width: 1024px) and (max-height: 600px){
    .videoPlayer_video_box{
        height: 60vh;
    }
    .videoPlayer_title{
        font-size: 1.5rem;
    }
    .videoPlayer_details_comments_box{
        width: 65vw;
    }
    .like_dislike_btns_box{
        display: flex;

         & > div{
            height: 50%;
        }
    }
}
@media (max-height: 450px) and (orientation: landscape){
    .videoPlayer_details_comments_box{
        width: 100vw;
        padding: 1% 2%; 
    }
    .videoPlayer_title{
        font-size: 1rem;
    }
    .videoPlayer_channel_icon_name_like{
        height: 14vh;
    }
    .videoPlayer_channel{
        font-size: 1rem;
        & > img{
            margin-right: 10px;
        }
        & > button{
            padding: 5px 10px;
            font-size: 0.7rem;
            margin-left: 10px;
        }
    }
    .like_dislike_btns_box{
        height: 55%;
        width: 15vw;
 
    }
    .like_btn_box{
        font-size: 0.8rem;
    }
}